<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/admin/adminMain::headFrag('관리자- 구독상품등록')}"></head>
<body>
<div th:replace="~{/admin/adminMain::topFrag}"></div>
<div th:replace="~{/admin/adminMain::sideFrag}"></div>
<style>
  td{
      border-bottom: 1px solid #ddd;
      padding: 8px;
      height: 30px;
           }
  li{
      list-style: none;
  }
  a{
  text-decoration: none;
   color: #303030;
   font-size: 17px;
  }          
  .regi_form{
    margin-top:50px;
    margin-left: 100px;
  }
  #uploadBtn,
  #resetBtn,
  #backBtn,
  #addCategoryBtn {
      background-color: #8FA691 ; 
      border: none;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      font-weight: bold;
      margin: 20px 2px;
    
  }
  #uploadBtn:focus,
  #resetBtn:focus{
   outline:none;
   border: none;
  }
  .regi_btn{
      float: center;
      margin-right:330px;
  }
  .mainContent .title {
  margin-left: 100px;
  }
  .mainContent h3{
  font-weight:500;
  font-size:24px;
  margin-bottom:10px;
  }
  .mainContent p{
      color: #b9b9b9;
      margin-top:0;
      
  }
   
     </style>
<body>
<div class="main-content">
        <div class="section-body">
          <div class="row mt-5">
  <div class="mainContent" style="margin-top:50px; margin-left:200px;">
    <div class="title">
      <h3>정기상품 등록</h3>
    </div>
    <div class="regi_form">
      <form th:action="@{/regular/regularAdd.do}" enctype="multipart/form-data" method="post">
        <table>
          <tr>
            <td>
              <label for=""><i class="fa fa-chevron-right"></i>상품 분류</label><br>
            </td>
            <td>                                    
              <select id="regularCategory" name="regularCategory">
                <option th:each="category : ${category}" th:value="${category.regularCategory}" th:text="${category.regularCategoryName}"></option>
              </select>
            </td>
          </tr>
  
          <tr>
            <td><label for="regularName"><i class="fa fa-chevron-right"></i>상품명</label></td>
            <td><input type="text" name="regularName" id="regularName" placeholder="상품명을 입력하세요." style="width: 350px;"></td>
          </tr>
  
          <tr>
            <td>
              <label for="regularSimpleDetail"><i class="fa fa-chevron-right"></i>상품 상세정보</label><br>
            </td>
            <td>
              <textarea name="regularSimpleDetail" id="regularSimpleDetail" style="height: 200px; width:350px; resize:none;"></textarea>
            </td>
          </tr>
  
          <tr>
            <td>
              <small style="opacity:0.75;">가격은 1,000원 ~ 1,000,000원 까지만 허용합니다.</small><br><br>          
              <label for="regularSellPrice"><i class="fa fa-chevron-right"></i>판매가격</label>
            </td>
            <td>
              <input type="text" name="regularSellPrice" id="regularSellPrice" numberOnly><br>
            </td>
          </tr>
  
          <tr>
            <td>
              <label for="regularOriginPrice"><i class="fa fa-chevron-right"></i>매입가격</label>
            </td>
            <td>
              <input type="text" name="regularOriginPrice" id="regularOriginPrice" numberOnly >
            </td>
          </tr>
  
          <tr>
            <td>
              <label for=""><i class="fa fa-chevron-right"></i>진열상태</label>
            </td>
            <td>
              <label for="regularDisplay1">
                <input type="radio" name="regularDisplay" value="1" id="regularDisplay1" checked="checked">진열함
              </label> 
              <label for="regularDisplay2">
                <input type="radio" name="regularDisplay" value="2" id="regularDisplay2">진열안함<br>
              </label> 
            </td>
          </tr>
          <tr>
            <td>
              <label><i class="fa fa-chevron-right"></i>상품 특성</label><br>
            </td>
            <td>
              <label for="regularState1">
                <input type="radio" name="regularState" id="regularState1" value="1" >신상  
              </label>
              <label for="regularState2">
                <input type="radio" name="regularState" id="regularState2" value="2">베스트
              </label>
              <label for="regularState3">
                <input type="radio" name="regularState" id="regularState3" value="3" checked="checked">기본
              </label>            
            </td>
          </tr>
  
          <tr>
            <td>
              <label><i class="fa fa-chevron-right"></i>메인 이미지</label>
            </td>
            <td>
              <input type='file' id="itemImg1" name="mainImg" multiple="multiple" accept="image/gif, image/jpeg, image/png, image/jpg"/>
              <div class="select_img1"><img src="" /></div>
            </td>
          </tr>
  
          <tr>
            <td>
              <label><i class="fa fa-chevron-right"></i>상품 상세 설명 이미지</label>
            </td>
            <td>
              <input type='file' id="itemImg2" name="files" multiple="multiple" accept="image/gif, image/jpeg, image/png, image/jpg"/>
              <div class="select_img2"><img src="" /></div>
            </td>
          </tr>
        </table> 
  
        <div class="regi_btn">
          <button id="uploadBtn">상품등록</button>
          <button id="resetBtn" type="reset">Reset Button</button>
          <button id="addCategoryBtn" type="button" onclick="openCategoryPopup()">상품분류 추가</button>
          <button id="backBtn" type="button" onclick="fnList()">돌아가기</button>
        </div>
      </form>
     <form id="frmCategory" action="/regular/addCategory.do" method="post">
       <div id="categoryPopup" style="display: none;">
          <input type="text" name="regularCategoryName" id="categoryInput" placeholder="상품분류 입력">
          <button type="button" onclick="saveCategory()">저장</button>
          <button type="button" onclick="closeCategoryPopup()">취소</button>
        </div>
     </form>
    </div>
  </div>
  </div>
  </div>
  </div>
  <div th:replace="~{/admin/adminMain::footerFrag}"></div>
</body>
<script th:inline="javascript">
  // 상품분류 입력 창 열기
  function openCategoryPopup() {
      // 팝업 창 열기
      document.getElementById("categoryPopup").style.display = "block";
    }
  $('#categoryInput').on('keydown', function(event) {
    if (event.keyCode === 13) {
      event.preventDefault(); // 기본 동작 중지

      saveCategory();
    }
  });

  function saveCategory() {
    // 상품분류 저장 처리
    var newCategory = $('#categoryInput').val();

    // 중복 체크
    var options = $('#regularCategory').find("option");
    for (var i = 0; i < options.length; i++) {
      if ($(options[i]).text() === newCategory || newCategory === null || newCategory.trim() === '') {
        alert('중복된 카테고리 또는 공백 입니다. 다시 입력 해주세요.');
        return; // 서브밋 취소
      }
    }

    $('#frmCategory').submit();

    // 팝업 창 닫기
    document.getElementById("categoryPopup").style.display = "none";
  }
    function closeCategoryPopup() {
        // 팝업 창 닫기
        document.getElementById("categoryPopup").style.display = "none";
      }
  function fnList(){
    location.href="/regular/regularList.do";
  }
    function checkExtension(fileType, fileSize) {
      var maxSize = 1024 * 1024 * 10;
      if(fileSize >= maxSize) {
         alert("파일 사이즈 초과");
         return false;
      }
      
      if(!regex.test(fileType)) {
         alert("이미지만 업로드 가능합니다!");
         
         return false;
      }
      return true;
    }
        
    // 이미지 체크
    for(let i=1; i<=2; i++) {
        $("#itemImg"+i).change(function(){   
           var imgFile = $('#itemImg'+i).val();
           var fileSize = document.getElementById("itemImg"+i).files[0].size;
          if(!checkExtension(imgFile, fileSize)) {
             $('#itemImg'+i).val("");
             $(".select_img"+i+" img").attr("src", "");
             return false;
          }
        });
        
    }        
  /* 상품 이미지 미리보기 */
    for(let i=1; i<=2; i++) {
      $("#itemImg"+i).change(function(){   
        if(this.files && this.files[0]) {
           var reader = new FileReader;
           reader.onload = function(data) {
               $(".select_img"+i+" img").attr("src", data.target.result).width(500);
            }
            reader.readAsDataURL(this.files[0]);
        }
     });
    }      
      
    
    /* 정규식 */
    var regex = new RegExp("(.*?)\.(jpg|jpeg|png|gif|PNG|JPG)$");  
    $("#uploadBtn").on("click", function(e) {
      
      /* 최종 업로드에 숫자에 콤마 삭제 */  
      function removeComma(str){
        n = str.replace(/,/g,"");
        return n;
      }
       
        if(!$('#regularCategory > option:selected').val()) {
           alert("상품분류가 선택되지 않았습니다.");
           $('#regularCategory').focus();
           return false;
       }else if($('#regularName').val()=='' || $('#regularName').val().trim() == '') {
          alert('상품명이 입력되지 않았습니다.');
          $('#regularName').focus();
          return false;
       }else if($('#regularSimpleDetail').val()=='' || $('#regularSimpleDetail').val().trim() == ''){
          alert('상품 상세 정보가 입력되지 않았습니다.');
          $('#regularSimpleDetail').focus();
          return false;
       }else if($('#regularSellPrice').val()=='' || removeComma($('#regularSellPrice').val()) < 1000 || removeComma($('#regularSellPrice').val()) > 1000000){
          alert('유효하지 않은 판매가 입니다.');
          $('#regularSellPrice').focus();
          return false;
       }else if($('#regularOriginPrice').val()=='' || removeComma($('#regularOriginPrice').val()) < 1000 || removeComma($('#regularOriginPrice').val()) > 1000000){
          alert('유효하지 않은 정상가 입니다.');
          $('#regularOriginPrice').focus();
          return false;
       }else if($("#itemImg1").val() == "") {
          alert("메인 이미지가 첨부되어 있지 않습니다.");
          $("#itemImg1").focus();
          return false;
       }else if($("#itemImg2").val() == "") {
          alert("상품 상세 이미지가 첨부되어 있지 않습니다.");
          $("#itemImg2").focus();
          return false;
       }
        
       $('#regularSellPrice').val(removeComma($('#regularSellPrice').val()));
       $('#regularOriginPrice').val(removeComma($('#regularOriginPrice').val()));
       
       $("form").submit();
    });  
  
    //3자리 단위마다 콤마 생성
    function addCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
     
    //모든 콤마 제거
    function removeCommas(x) {
        if(!x || x.length == 0) return "";
        else return x.split(",").join("");
    }
    // 숫자만 입력
    $("input:text[numberOnly]").on("focus", function() {
        var x = $(this).val();
        x = removeCommas(x);
        $(this).val(x);
    }).on("focusout", function() {
        var x = $(this).val();
        if(x && x.length > 0) {
            if(!$.isNumeric(x)) {
                x = x.replace(/[^0-9]/g,"");
            }
            x = addCommas(x);
            $(this).val(x);
        }
    }).on("keyup", function() {
        $(this).val($(this).val().replace(/[^0-9]/g,""));
    });  
    
    // 리셋 버튼 누르면 보이는 이미지도 삭제 되게끔
    $("#resetBtn").on("click", function(e) {
       for(let i=1; i<=2; i++) {
           $(".select_img"+i+" img").attr("src", "");
        }
    });
</script>

</html>