<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!--/* /layout/header.html의 headFrag조각으로 head 태그를 바꾼다. */-->
<head th:replace="~{/layout/header::headFrag('user')}"></head>

<!--/* 자바스크립트 내부에서 Variable Expression은 [[${}]]로 나타낸다. */-->
<script src="/js/lib/jquery-3.6.4.min.js"></script>
<script th:inline="javascript">
  
function fnCheckPwCancel(){
    $('#btnCancel').on('click', function(){
      history.back();
    })
  }
  
  function fnCheckPw(){
    $('#btnCheckPw').on('click', function(){
      $.ajax({
        type: 'post',
        url: '/user/checkPw',
        data: 'id=${sessionScope.loginId}&pw=' + $('#pw').val(),
        dataType: 'json',
        success: function(resData){
          if(resData.isCorrect){
            location.href = '/user/mypage';
          } else {
            alert('비밀번호를 확인하세요.');
          }
        }
      })
    })
  }
  
  $(function(){
    fnCheckPwCancel();
    fnCheckPw();
  });
  
</script>
</head>
<body>

  <div>
  
    <div>개인정보보호를 위해서 비밀번호를 다시 한 번 입력하세요</div>
    
    <div>
      <label for="pw">비밀번호</label>
      <input type="password" id="pw">
    </div>
    
    <div>
      <input type="button" value="취소" id="btnCancel">
      <input type="button" value="확인" id="btnCheckPw">
    </div>
    
  </div>

</body>
</html>
</html>
