<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/login.css}">
<head th:replace="~{/layout/header::headFrag('Welcome')}"></head>
<div th:replace="~{/layout/header::gnbFrag}"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

 <body class="goto-here">
  <div class="ftco-section">
  <div class="container">
    <div class="nav navbar">
          <div class="row section-header-breadcrumb ftco-animate">
            <div class="breadcrumb-item active"><a th:href="@{/}">HOME</a></div>
            <div class="breadcrumb-item">아이디 찾기</div>
          </div>
        </div>
    <div class="container d-flex justify-content-center">
      <div class="wrapper fadeInDown">
        <div id="formContent">
          <div class="login-content">
          <!-- form 태그 시작 -->
            <form id="frmLogin" method="post" th:action="@{/user/login.do}">
              <input type="hidden" name="url" th:value="${url}">
                <div class="ftco-animate">
                  <div class="heading-section text-center">
                    <span class="subheading ftco-animate ">FullPowerSalad</span>
                    <h2 class="title ftco-animate">아이디 찾기</h2>
                  </div>
                </div>
                <div class="mt-3 input-div one ftco-animate">
                  <div class="i">
                    <i class="fas fa-user"></i>
                  </div>
                  <div class="div ftco-animate">
                    <h5>이름</h5>
                    <input type="text" name="name" id="name" class="input fadeIn second"  required="required">
                  </div>
                </div>
                <div class="input-div pass ftco-animate">
                  <div class="i"> 
                    <i class="fas fa-lock"></i>
                  </div>
                  <div class="div ftco-animate">
                    <h5>이메일</h5>
                    <input type="email" name="email" id="email" class="input fadeIn third"  required="required"> 
                  </div>
                </div>
                
                <div class="ftco-animate">
                   <input type="button" th:value="아이디찾기" id="btnFindId" >
                </div>
                <div class="ftco-animate">
                  <span class="d-flex justify-content-around mb-3">
                    <a class="a-link" th:href="@{/user/findId.html}">아이디 찾기</a>
                    <span>|</span>
                    <a class="a-link" th:href="@{/user/findPw.html}">비밀번호 찾기</a>
                    <span>|</span>
                    <a class="a-link" th:href="@{/user/agree.html}" >회원가입</a>
                  </span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>   
      <div id="findResult"></div> 
      <div id="findResult"></div> 
      </div>
      </div>
    <div th:replace="~{/layout/footer::gnbFooter}"></div> 
</body>
<script th:src="@{/js/login.js}"></script>
<script th:inline="javascript">

  function fnFindId() {
    $('#btnFindId').on('click', function(){
      $.ajax({
        type: 'post',
        url: '/user/findId.do',
        data: {
          name: $('#name').val(),
          email: $('#email').val()
        },
        dataType: 'json',
        success: function(resData) {
          if(resData.findUser != null) {
            var id = resData.findUser.id;
            id = id.substring(0, 3) + '*****';
            var joinedAt = moment(resData.findUser.joinedAt).format('YYYY년 MM월 DD일 a h:mm:ss');

            moment.locale('ko-KR');
            $('#findResult').text('회원님의 아이디는 ' + id + '입니다.<br>(가입일 : ' + moment(resData.findUser.joinedAt).format("YYYY년 MM월 DD일 a h:mm:ss") + ')');
          } else {
            $('#findResult').text('일치하는 회원이 없습니다. 입력 정보를 확인하세요.');
          }
        }
      });
    });
  }

  $(function(){
    fnFindId();
  });
</script>
</html>