<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!--/*
  1. Variable Expressions           : ${...} (값을 나타낼 때 사용한다.)
  2. Selection Variable Expressions : *{...} (객체의 특정 필드 값을 나타낼 때 사용한다.)
  3. Message Expressions
  4. Link URL Expressions           : @{...} (경로 작성할 때 사용한다.)
  5. Fragment Expressions           : ~{...} (조각을 사용할 때 사용한다.)
*/-->

<!--/*
  ${name}             : request attribute      model.addAttribute("name", "킹콩")
                                               redirectAttributes.addFlashAttribute("name", "킹콩")
  ${param.name}       : request parameter      /board/detail.do?name=킹콩
  ${session.name}     : session attribute      session.setAttribute("name", "킹콩")
  ${application.name} : application attribute  servletContext.setAttribute("name", "킹콩")
*/-->

<!--/* /layout/header.html의 headFrag조각으로 head 태그를 바꾼다. */-->
<head th:replace="~{/layout/header::headFrag('Welcome')}"></head>

<body>

<h1>404 not found</h1>

</body>
</html>